[2017-11-22 00:48] antiwebbite opened #1 "Ellipsis Position"
Hello!

This component is fantastic, great work!

I was wondering, is there was a way to set the position of the ellipsis? Currently, it seems to appear at the end of the line (which make sense). But is there a way for us to maybe set it to cut off the line 50% of the way?

e.g.
"Current version"
Here is my text block. I set my lines to 3 and
by the time I finish this text here we will be
on the t

[2017-11-22 06:09] patrik-piskay commented on #1
Hi, while it's not possible to set the position of the ellipsis programmatically by configuring `TruncateMarkup`, you can always use ellipsis' styles to achieve what you want!

Example - https://codesandbox.io/s/vnvzry8k5y

[code]

Hope this helps!

[2017-11-22 06:09] #1 closed

[2017-11-22 12:37] antiwebbite commented on #1
Fantastic, thank you!

[2017-12-18 19:36] gruzzilkin opened #2 "Two lines truncation bug"
Hello! First of all, thanks for awesome component!

And here is a demo of the bug: https://codesandbox.io/s/2zk3z45kqj.
![image](https://user-images.githubusercontent.com/47628/34124068-66c9c250-e453-11e7-8a29-2d4e73b02568.png)

Could you suggest some workaround?

[2017-12-18 20:10] patrik-piskay commented on #2
The issue is caused by using blocks inside the `TruncateMarkup` component
[code]
Ideally you would not use blocks because if you specify that you want 2 lines like in your example, if the first `div` breaks into 2 lines, in the best case you'll end up with what your image shows (but ending with `Kazan...` - missing `n` - that might be fixable, will need to check as to how easy that would be) - bec

[2017-12-18 20:18] gruzzilkin commented on #2
Thanks for quick reply!

My case is simple. I need line break between address and metro by design :-)

[2017-12-18 20:29] patrik-piskay commented on #2
Does it make sense to truncate both lines separately then?
[code]

Because otherwise with
[code]
you are risking that when the first line needs to be broken into 2 lines, you are not going to show the metro part at all

But it would help to know what your expected result for https://codesandbox.io/s/2zk3z45kqj is :)

[2017-12-25 10:46] gruzzilkin commented on #2
BTW, to trim a single line you need to use the css-only solutions ;-)

[2018-05-10 22:46] samwalshnz opened #3 "Premature truncation + rendering is one update behind props when using block elements."
I noticed that when I used a `div` (block) element inside TruncateMarkup (other than the initial element that wraps the text to be truncated), the truncation was happening one update behind what it should, and also truncating the text a character too soon.

I managed to create an isolated Stackblitz example of this here: https://stackblitz.com/edit/truncate-markup-jsx-bug

I think it's understanda

[2018-06-13 14:54] burtek opened #6 "Typescript .d.ts is not pushed to npm 😢"
Please re-publish package with typescript declaration file included

[2018-06-13 18:07] patrik-piskay commented on #6
Hey @burtek, version 1.1.0 with the typescript declarations file is already on npm

https://github.com/parsable/react-truncate-markup/commits/1.1.0
https://www.npmjs.com/package/react-truncate-markup/v/1.1.0

[2018-06-13 19:10] burtek commented on #6
The version 1.1.0 is on npm, but **without** .d.td. I guess you'd have to put `index.d.ts` in `package.json`'s `files` field or something, I don't know. But there are no typescript types in 1.1.0 npm package.

[2018-06-13 19:12] patrik-piskay commented on #6
🤦‍♂️ you're right

[2018-06-13 19:39] burtek commented on #6
:)
Apart from that - best truncate library for react I ever found :)

[2018-06-14 09:02] burtek commented on #6
When can we expect this to go out? No hurry, we've put those typings in our `src/`, so just asking out of curiosity

[2018-06-14 15:08] patrik-piskay commented on #6
Pushed now

[2018-06-14 15:08] #6 closed

[2018-06-28 12:11] burtek opened #7 "No `key` prop warning"
I got the error `Warning: Each child in an array or iterator should have a unique "key" prop. See https://fb.me/react-warning-keys for more information.` while using `react-truncate-markup` with custom ellipsis being callback function. I attach the component causing the problem.

[issue.tsx.zip](https://github.com/parsable/react-truncate-markup/files/2145202/issue.tsx.zip)

[2018-06-28 16:06] patrik-piskay commented on #7
Is it possible that your `props.text` is causing this warning?

[2018-06-28 16:16] burtek commented on #7
they are plain strings, so I guess not, I might be wrong though.

What I found out, is that this error appears when the text is truncated. `renderTruncatedEllipsis` is the ellipsis callback which returns `React.Fragment`
![image](https://user-images.githubusercontent.com/2940958/42046584-79d490b8-7afe-11e8-83f3-f51d1e9eab10.png)

But this `React.Fragment` is rendered by `react-truncate-markup` as

[2018-06-28 16:20] burtek commented on #7
The full error I get is:

[code]

[2018-06-28 16:22] patrik-piskay commented on #7
I see, it looks like it has something to do with the fragment usage. I'll what we can do about it

[2018-06-28 19:39] burtek commented on #7
Sure. Both `react` and `react-dom` exactly `16.4.1`, `react-truncate-markup: 1.1.1`. Checked our `yarn.lock` to be sure

[2018-06-28 19:39] burtek commented on #7
Also, we're using typescript 2.9.1 currently in our project

[2018-06-28 19:40] burtek commented on #7
Sorry, wrong butotn

[2018-06-29 18:34] #7 closed

[2018-07-04 12:33] burtek commented on #7
Any plans for releasing this one? 🤔

[2018-07-09 21:19] patrik-piskay commented on #7
Released in 1.1.2

[2018-07-10 13:21] burtek opened #9 "Feature suggestion: keep whole words, not cut them in half"
Hello again!

Just a quick feature suggestion this time. How about `keepWholeWords` prop, that - if set to `true` - would make `react-truncate-markup` keep full words and not cut the in half? At the moment I keep getting truncated words, i.e. `se` (whole word is `sed`):
![image](https://user-images.githubusercontent.com/2940958/42512243-5d2dcc86-8454-11e8-8ac7-856a9f9bc6f3.png)

In this example th

[2018-07-10 16:43] patrik-piskay commented on #9
Actually all the magic for this case happens in the `splitString` method. Currently we split strings in half, but with this "whole words" option we need to split it into words first, then split the list of words in half and concatenate again before returning it as a string again.

We would probably need to allow for the trailing space before ellipsis though, I'll need to think about that.

In the

[2018-07-10 17:06] burtek commented on #9
Wow! Love the description, thanks! I'll see what I can do :)

[2018-08-30 09:43] burtek commented on #9
I've just sat down to this, since there is little work to be done this week. I started with something like this:

[code]

But the outcome is actually same as without the `keepWholeWords` prop (and it's because of the "_fallback_"). Without the fallback it enters infinite loop :(

I'm trying to get it working, but no success for now.

[2018-08-30 22:01] patrik-piskay commented on #9
Hey @burtek, I'm going away for a month, if you won't manage to get it working, I'll take a stab at it when I get back!

[2018-08-31 10:33] burtek opened #11 "Feature suggestion: onAfterTruncate callback"
Hi!

Just a quick suggestion: how about adding a callback (`onAfterTruncate` or sth) that would be fired after the text has been truncated? It could be helpful to recalculate dynamically positioned elements after the text is truncated...

[2018-09-13 23:51] jflayhart opened #12 "Error: Maximum update depth exceeded"
I can't ever seem to get past this error:

![screen shot 2018-09-13 at 6 49 53 pm](https://user-images.githubusercontent.com/6808172/45521932-e37db580-b785-11e8-81c3-472814f9f806.png)

Currently the library seems unusable =/ Not sure how to guard against it within the `componentDidUpdate` lifecycle hook.

[2018-09-18 11:15] modestfake commented on #12
I have the same issue. And also I see `ResizeObserver loop limit exceeded` in logs

[2018-09-18 21:28] modestfake commented on #12
I've reproduced it in this [codesandbox](https://codesandbox.io/s/jnwj3mxpn5).
Change `maxWidth` to 300 and it works. With 200 it reproduces this issue.

[2018-10-01 19:41] patrik-piskay commented on #12
Thanks for the report (and codesandbox ), I'll take a look.

@jflayhart any chance you can provide a repro case (codesandbox) too? Just to help verify the fix

[2018-10-16 16:37] patrik-piskay commented on #12
Update - I found the issue and it's not a small one. It affects HOC/render prop components (that's the case for @modestfake's example, as the `Mention` component used is using both). I'll need more time to investigate and come up with a solution for these cases.

[2018-10-16 16:43] modestfake commented on #12
@patrik-piskay no rush, thanks for your time, appreciate it!

[2018-11-20 20:55] samwalshnz opened #13 "title attribute if truncated"
Before I look into creating a solution, I was wondering if you would be open to having a boolean prop called something like `withTitle` (open to naming suggestions). If the prop is set (to true), then when the content inside the element is truncated, it sets the `title` attribute to the original text.

The purpose of this is so that when text is truncated, you can still hover over the text to see

[2018-11-20 20:56] samwalshnz commented on #13
Alternatively, if we had the onAfterTruncate callback (https://github.com/parsable/react-truncate-markup/issues/11) then we could just hook into this instead.

[2018-11-20 21:00] samwalshnz commented on #13
Also, I suppose it would need to use something similar to https://github.com/kevinzwhuang/react-to-string in order to convert the markup into a plain string to be used in the `title` attribute.

[2018-11-20 21:35] patrik-piskay commented on #13
Hey @samwalshnz, thanks for the suggestion! I'll definitely plan to implement something like `onAfterTruncate` and I'd prefer that to be the solution for your case.

I should have time to address this soon (along with other reported issues), next week 🤞

[2018-11-25 21:02] samwalshnz commented on #13
`onAfterTruncate` sounds great. Happy for this to be closed. Thanks @patrik-piskay

[2018-12-06 06:20] patrik-piskay commented on #12
So here is what I found out...

**Issue**: `react-truncate-markup` doesn't support React components as its children. Not just HOC/render props as mentioned in https://github.com/parsable/react-truncate-markup/issues/12#issuecomment-430308275, but all components.

**Solution**: tl;dr: there is none that I am aware of that works for every case, so in dev mode we'll warn if React components are used

[2018-12-06 10:34] modestfake commented on #12
Thank you @patrik-piskay for the detailed explanation! Really appreciate your effort and time!

Maybe you've already thought about this, so I just wondering, can you use refs? With refs you can have a full access to the DOM, rendered by React. (I'm not sure I understand how your component works, so I might be wrong, don't blame me for that 😕 ).

[2018-12-06 17:44] patrik-piskay commented on #12
The issue with refs is that it returns actual DOM nodes instead of React elements. So instead of
[code]
we get
[code]

That means we'd need to transform the returned DOM nodes back into React elements again (or any tree structure so we can truncate it and have it rendered again), which might be doable, but again not reliable. For example, I don't think events (click etc.) would work. Also, we'd lo

[2018-12-06 18:17] modestfake commented on #12
Got it! Thanks again!

[2018-12-11 03:57] patrik-piskay commented on #11
There is an issue with this feature request that I hadn't realised until after I implemented it few days ago 😅 The issue is with how this feature is going to be used most of the times - `onAfterTruncate` will most probably call `setState` and this happens: the `onAfterTruncate` callback calls `this.setState` on the parent component, which will trigger rerender, which will trigger a new `<TruncateM

[2018-12-11 03:57] patrik-piskay commented on #13
Let's continue the discussion in https://github.com/parsable/react-truncate-markup/issues/11

[2018-12-11 03:57] #13 closed

[2019-01-06 05:16] #11 closed

[2019-01-06 05:30] patrik-piskay commented on #12
I just published a new (major) version that checks for React components inside the <TruncateMarkup /> children, and if there are any, it'll skip the truncation.

Closing this issue as that (React components used as children) looks to be the reason for the originally reported error.

[2019-02-12 15:27] stropho commented on #9
Hopfully solved here https://github.com/parsable/react-truncate-markup/pull/18 :)

[2019-02-12 18:56] pauloamgomes opened #19 "Provide mechanism to accept markup as string"
It would be interesting if we can pass markup via string (e.g. the child element using dangerouslySetInnerHTML)

[2019-02-13 09:49] subs1da opened #20 "onAfterTruncate missing from TruncateProps in index.d.ts"
The index.d.ts file has not been updated with the new onAfterTruncate property (which causes warnings when using the library from TypeScript)

https://github.com/parsable/react-truncate-markup/blob/488698a3234e9a828e2e1b0d63b7ae8c25ab6b87/index.d.ts#L3

(May I also say, not that it matters, onAfterTruncate is a really odd name :) onTruncate would have been a bit more concise)

[2019-02-13 18:42] patrik-piskay commented on #20
huh, now that you mention it, you're probably right 😅

regarding the ts definitions, would you like sending a PR that updates it?

[2019-02-15 22:11] patrik-piskay commented on #19
That won't be possible as `TruncateMarkup` takes advantage of the react elements tree structure. We would need to convert the html string into a tree of React Elements, but that could be done on the consumer's side as well, using something like [react-html-parser](https://github.com/wrakky/react-html-parser).

I imagine this should work:
[code]

[2019-02-15 22:13] #19 closed

[2019-02-16 00:12] #20 closed

[2019-02-17 19:25] pauloamgomes commented on #19
Thanks, I'm using htmr for that and it works with one issue:
I'm aware that can only have default dom elements, but do you think it's possible to have react custom ones? I need to have Link (reach router) elements instead of standard html links

[2019-02-19 18:42] patrik-piskay commented on #19
Unfortunately that's not possible (see https://github.com/parsable/react-truncate-markup/issues/12#issuecomment-444761758 for a more in-depth explanation).

When we allow custom React components, they won't be truncated -> either the whole custom component fits and renders, or it doesn't (even by one character) and the whole custom component's content is truncated from the original content.

Would

[2019-02-19 21:03] pauloamgomes commented on #19
Hi @patrik-piskay , many thanks for your detailed explanation, I understand the issue. And yes, believe that having that (with the mentioned caveat) will still be a nice feature.

[2019-03-19 15:14] constantinpojoga opened #23 "Fails in Firefox"
I'm developing a React extension and using "react-truncate-markup" to truncate the html from the api. Works fine in Chrome and does exactly what I need, but unfortunately fails in FIrefox.
I'm getting `TypeError: "'getComputedStyle' called on an object that does not implement interface Window."`

Full error:
[code]

[2019-03-22 19:36] patrik-piskay commented on #23
Interesting @constantinpojoga. Can you create a repro example on https://codesandbox.io? Thanks!

[2019-03-22 20:48] constantinpojoga commented on #23
I was not able to replicate that in code sandbox (
https://codesandbox.io/s/qz2klkq1w6), and unfortunately, I cannot share the
original code. I wonder if the environment is different in my case.

I'm working on a React extension, which is using the content script to add
extra content to some pages. The data comes from our API, and some fields
are HTML strings, to preserve original styling (include

[2019-03-22 21:34] patrik-piskay commented on #23
I wonder what the `this.el` is assigned to here for you https://github.com/parsable/react-truncate-markup/blob/master/src/index.js#L132 - it should always be a DOM element, and we pass that DOM element to `window.getComputedStyle` function

Another way to bypass this is to set the `lineHeight` prop, that way we'll never call `getComputedStyle` - not sure whether that's an option for you or not.

A

[2019-03-22 21:34] #23 closed

[2019-03-26 13:32] subs1da opened #24 "Enzyme test fails with "Invariant Violation: Element type is invalid error""
The below minimal enzyme test fails with error message "Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports. Check the render method of `WrapperComponent`.":

[code]

M

[2019-03-26 15:43] patrik-piskay commented on #24
Interesting. What I get when I run that code is `Invariant Violation: React.Children.only expected to receive a single React element child.` and a prop warning: `Warning: Failed prop type: Invalid prop 'children' of type 'string' supplied to 'TruncateMarkup', expected a single ReactElement.`

which points to this not being valid usage:
[code]
`foo` needs to be wrapped in a container, i.e. `div`:
[

[2019-03-26 16:21] subs1da commented on #24
Interesting... Your point is fair, the example wasn't valid, but even the below causes the same error (note, my error is not the same as yours....):

[code]

[2019-03-26 16:37] patrik-piskay commented on #24
Can you create a repro case using codesanbox? it supports jest/enzyme tests, so hopefully you'll be able to reproduce it there.

[2019-03-27 09:56] subs1da commented on #24
Codesandbox wouldn't actually run the test for some reason :confused: ... But here's a minimal example on github: https://github.com/subs1da/test-react-truncate-markup

[2019-03-27 23:56] patrik-piskay commented on #24
So it still doesn't look like this library's issue - I managed to get the test running by removing `jsdom-global` from `setupTests.js` and `testEnvironment: 'node'` from `jest.config.js` (this can by changed to `testEnvironment: 'jsdom'` too)

[2019-03-27 23:56] #24 closed

[2019-03-28 07:24] subs1da commented on #24
Thank you for having a look, I never would have thought of that... (WTH?!) I'll see if I can make the same change in my project (which is obviously slightly larger than the example I uploaded :weary:)

[2019-03-28 11:47] subs1da commented on #24
OK, unfortunately the above doesn't fix it for me (and in my project, react-truncate-markup is the only component that does this in the tests) but I appreciate it's not this library's issue :(

[2019-03-28 15:55] patrik-piskay commented on #24
so changing `testEnvironment: 'node'` to `testEnvironment: 'jsdom'` and removing `jsdom-global` call doesn't fix it?

I'll try to find some time to dig deeper, hoping I can find something that RTM does that causes this

[2019-03-29 13:59] subs1da commented on #24
That's much appreciated. I have mocked RTM out of the tests for now (but with a heavy heart :))

[2019-04-08 18:54] patrik-piskay commented on #9
Indeed @stropho!

[2019-04-08 18:54] #9 closed

[2019-04-11 12:49] SuperOleg39 commented on #2
Hello!

Have same problem with react-truncate-markup v 4.0.0 and custom ellipsis

Example https://codesandbox.io/s/p2r01nr897

Look's like ellipsis width not counted in truncated text size

[2019-04-11 16:49] patrik-piskay commented on #2
Hey @SuperOleg39, I see 2 issues there:

1 - `lines={4}` but it only displays 2 - that's because there is margin specified on `p` elements. So a single line in `p` (with 1em margin top and bottom) already takes as much space as 3 lines would normally take. If you set `margin: 0;` on `p` elements, you get 4 lines rendered.

I don't see any way to fix this so it works fine with paddings and margins

[2019-04-11 16:49] patrik-piskay commented on #2
Hey @SuperOleg39, I see 2 issues there:

1 - `lines={4}` but it only displays 2 - that's because there is margin specified on `p` elements. So a single line in `p` (with 1em margin top and bottom) already takes as much space as 3 lines would normally take. If you set `margin: 0;` on `p` elements, you get 4 lines rendered.

I don't see any way to fix this so it works fine with paddings and margins

[2019-04-11 17:00] patrik-piskay commented on #2
Hey @SuperOleg39, I see 2 issues there:

1 - `lines={4}` but it only displays 2 - that's because there is margin specified on `p` elements. So a single line in `p` (with 1em margin top and bottom) already takes as much space as 3 lines would normally take. If you set `margin: 0;` on `p` elements, you get 4 lines rendered.

I don't see any way to fix this so it works fine with paddings and margins

[2019-04-12 14:21] SuperOleg39 commented on #2
Thx for fast answer!

[2019-04-12 14:45] stropho opened #25 "deprecated componentWillReceiveProps"
This does **NOT** need an immediate attention, but ..
Earlier in some minor version of react@16, `componentWillReceiveProps` and a few other methods were flagged as `deprecated`. The intention is to remove them completely in react@17.

In this package, both `componentWillReceiveProps` and `componentDidUpdate` do a lot of stuff, and I have no idea how complex it could be (if actually possible) to r

[2019-04-12 18:08] patrik-piskay commented on #25
`componentDidUpdate` will be fine even in the future, but you are correct we need to think how to migrate `componentWillReceiveProps` - the easiest short term solution would be to rename it to `UNSAFE_componentWillReceiveProps` once cWRP is deprecated, but that will not work with the future React's async mode.

I like cWRP though, because we have a nice separation between prop updates (content tha

[2019-04-14 12:37] stropho commented on #25
The way you describe cWRP sounds like it could be replaced with `getDerivedStateFromProps` . It is a static function, so there is no access to `this`. That could make the migration more complicated. I might look into it some day. As it is not a pressing matter now, it might not be anytime soon :wink:

Feel free to close this issue, or keep it as a reminder .. up to you!

[2019-04-14 13:01] stropho commented on #2
I had a similar issue. The **short answer** is that 2 lines don't fit, but 1 line + line of ellipses do.

In the sandbox example ( https://codesandbox.io/s/p2r01nr897 ) :

- line height inside `<p/>`: 18px
- 4 lines expected height: 72px
- `<p/>` with margin: 50px
- ellipses line height: 19px

1 line with `<p/>` + line of ellipses:  50 + 19 = 69px
**69 < 72**
2 lines with `<p/>`: 100px
**100 > 72*

[2019-04-16 04:33] patrik-piskay commented on #2
Ah, thanks @stropho! so it's the same source then

[2019-04-16 04:33] #2 closed

[2019-04-18 21:13] SeanYHe opened #26 "truncate seems to be lagging behind the size of the box"
[Reproducable in `onTruncate callback` case from the README](https://react-truncate-markup-guzutnrduf.now.sh/#onTruncate-callback)

When shrinking the box, text goes to the second line even though `lines={1}` was passed into the props.
![image](https://user-images.githubusercontent.com/17264975/56391457-ae927f00-61fc-11e9-9e15-9045487a454d.png)

When expanding, text is truncated even though there

[2019-04-19 06:22] agduyaguit commented on #12
This issue is still occurring when width is less 300px.

[2019-04-19 06:54] patrik-piskay commented on #12
Hey @agduyaguit, can you post a link to codesanbox with a repro case? Thanks!

[2019-04-19 07:10] patrik-piskay commented on #26
Hey @yuxuansean1, if you are referring to what you can see here https://cl.ly/3ae9f8d1f164 - meaning the screenshot you took is just a temporary state before RTM updates it again, then you are correct.

RTM by itself does a few `setState`s in order to find the longest "substring" that still fits the container, but it still works fine and you don't notice any lag when rendering something once (most

[2019-04-19 07:11] agduyaguit commented on #12
@patrik-piskay , hi.

I created the following test data:

[code]

[2019-04-19 07:57] agduyaguit commented on #12
hi @patrik-piskay ,

Here is the test data I used to replicate the issue:

[code]

[2019-04-22 14:58] yuxuansean1 commented on #26
Hi @patrik-piskay, thanks for your response.

The issue i'm seeing is that those screenshots are not a temporary state, they are what is displayed after the resize has finished.
![Apr-22-2019 10-55-13](https://user-images.githubusercontent.com/17264975/56506676-3b835400-64ed-11e9-9837-59513f57a995.gif)

[2019-04-23 12:04] patrik-piskay commented on #26
Interesting! what browser is that? Can you verify that it happens in other browsers as well?

[2019-04-23 14:28] yuxuansean1 commented on #26
This was on Chrome, I reproduced this in Firefox, Edge and Safari as well.

[2019-05-28 12:11] nvuhung commented on #12
I am facing same problem. Any update for this?

[2019-05-28 12:22] patrik-piskay commented on #12
Can you post your case example on codesanbox @nvuhung?

[2019-05-29 06:37] nvuhung commented on #12
My code is same as @agduyaguit

[2019-05-31 18:45] drewlustro commented on #12
I am also experiencing this issue; the package is not usable because it crashes the whole app.

Is there a way to throttle the resize event?

I'm passing simple DOM HTML into the component (not complex React components).

[2019-05-31 20:20] drewlustro commented on #12
# Workaround

I developed a workaround for this issue until it is fixed. This module is overall great, but clearly this problem is complex.

Using an error boundary with fallbacks, we can render the unabridged markup instead of crashing.

&nbsp;

### 💡 ErrorBoundary component

[code]

&nbsp;

### Apply boundary to `<TruncateMarkup>`

[code]

#### Result when error boundary is hit (app does not cra

[2019-05-31 22:39] patrik-piskay commented on #12
Hey @drewlustro, can you post a codesanbox of your specific issue? we need as many failing cases as possible because, as you said, it's a complex problem and sometimes it's the markup that's passed into the component that's causing it, like `<img />` tags in (for now the only) example above. That helps with understanding the issue more.

Specifically, I'd be interested to see what `convert(profile

[2019-07-02 20:27] maxkordiyak opened #28 "TypeError: Cannot read property '_ownerDocument' of undefined"
Hi, anyone tried to use this library with Storybook?
I'm getting
[code]
on each snapshot, even if their component do not `import TruncateText from react-truncate-markup`

[2019-07-02 20:27] maxkordiyak commented on #28
I tried to mock out this library as described here https://github.com/facebook/react/issues/9244 but it doesn't work

[2019-09-04 11:29] bitjoo commented on #25
Hello everyone. Thank you for this nice little component.
What is the status here? Is something planned in the future to get around ` componentWillReceiveProps`?

[2019-09-04 23:30] patrik-piskay commented on #28
Hi @maxkordiyak, sorry for the late response. We are not using storybook so I can't help much on this one. Have you done more debugging around it? From your report it looks like it originates in `componentDidMount` where 2 dependencies are used - `line-height` and `ResizeObserver` - maybe one of them is causing issues?

[2019-09-04 23:33] patrik-piskay commented on #25
Yes @bitjoo, thanks for reminding me, I'll plan to take a look soon!

[2019-09-16 04:16] patrik-piskay commented on #25
`UNSAFE_componentWillReceiveProps` released in `v4.1.0`

[2019-09-25 15:24] vainkteshkumar opened #29 "TruncateMarkup doesn't render after the data is changed dynamically."
TruncateMarkup doesn't render after the data is changed dynamically.
No changes is applied to data after TruncateMarkup has loaded.

[code]

[2019-10-11 21:48] thinkb4code opened #31 "Doesnt work with JSX dangerouslySetInnerHTML attribute"
I am using this control to trim rich text editor output html to 5 lines but not working. I am using JSX attribute dangerouslySetInnerHTML to set the HTML inside a div control. My HTML content is simply consist of divs and paragraph.

`<TruncateMarkup lines={6}>
						<div>
							<div dangerouslySetInnerHTML={{__html: this.state.data.Body}}>
								</div>
						</div>
					</TruncateMarkup>`

Thi

[2019-10-14 01:03] patrik-piskay commented on #31
Do you mind creating a repro case using codesandbox.io where this exact case can be seen in action and debugged? Thanks

[2019-10-31 08:17] Daninet commented on #31
Something similar:
https://codesandbox.io/s/truncatemarkup-demo-lvdmd?fontsize=14

[2019-10-31 08:30] patrik-piskay commented on #31
Thanks @Daninet, actually now seeing this I realized that's not supported by design. Please see https://github.com/parsable/react-truncate-markup/issues/19#issuecomment-464221889 for explanation and a workaround suggestion. cc @thinkb4code

[2019-10-31 08:30] #31 closed

[2019-11-01 12:33] girish-vadhel commented on #2
I am using react-truncate-markup v 4.1.0, the ellipsis is rendered on a new line in same example https://codesandbox.io/s/p2r01nr897 even if i remove margin applied to paragraph tag

It works fine if i remove the paragraph tag else it wont display text in last line

[2019-11-19 14:41] remylenoir commented on #28
Hello, @maxkordiyak did you find what caused the issue? I am facing the same problem when I run the snapshot test, I am also using Storybook:

[code]

[2019-11-20 15:40] remylenoir commented on #28
Thank you @maxkordiyak , it worked like a charm.

For other people using Storybook + Storyshots for snapshot testing, I put the mock code within my Storybook file:

[code]

[2019-12-13 13:41] #28 closed

[2019-12-17 12:22] yanwsh commented on #29
I have the same issue with you. This is because you are using React 15, and don't support UNSAFE_componentWillReceiveProps. This function only support on React 16. You can do something like this:

[code]

[2020-01-09 10:56] svobik7 commented on #12
Is there any progress? I am facing the same issue.

[2020-01-09 11:19] patrik-piskay commented on #12
Hi @svobik7, any chance you can provide a repro case (using codesanbox or some other, similar online tool)? It'll be easier to spot the issue is that way.

[2020-01-10 18:30] svobik7 commented on #12
Hi @patrik-piskay, unfortunately my repo is private. But I discovered that error happend only when screen width < 400px. Maybe it will help.

As I was pushed to solve this problem I had to use another library.

[2020-01-16 11:33] Iarkovenko opened #36 "Warning Invalid prop `children` of type `object` supplied to `TruncateMarkup` for IE 11"
My Code
`const Title = ({ style, line, text }) => (
  <TruncateMarkup lines={line} tokenize={'words'}>
    <div>
      <div style={style} >
        {text}
      </div>
    </div>
  </TruncateMarkup>
);
`
and
`const Location = ({ style, line, text }) => (
 <TruncateMarkup lines={2} tokenize={'words'}><div><span>{`Location ${location}`}</span></div></TruncateMarkup>
);`

I see this warning message a

[2020-01-22 15:11] smesgr commented on #24
I can reproduce this issue too. I managed to get things going by removing
module.exports = exports['default'];
from lib/index.js
could you please have a look at this issue again?

[2020-03-18 17:05] tylerthehaas opened #37 "Does not render into jsdom"
**Describe the bug**
This does not run in a test environment. Either get an error saying `Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'` or it just doesn't render anything into jsdom.

**To Reproduce**
https://codesandbox.io/s/icy-tree-rr3dq

[2020-03-19 06:12] patrik-piskay commented on #37
Hi, RTM relies on browser APIs to work. in this specific case (`getComputedStyle`) you're seeing this error because of its dependency (`line-height` package), but it's not only that, RTM relies on actually rendering the content to an HTML box and measurements. even if you mock `line-height` lib it'll probably won't have the same effect as in a real app. because of that I suggest you mock RTM itsel

[2020-03-19 06:12] #37 closed

[2020-03-29 08:22] #26 closed

[2020-03-30 20:25] benkeen commented on #12
Just FYI, I ran into the same problem described in this ticket but found I had to give the wrapper element  a specific width value. Once I did that (even < 300 px) the problem went away. Presumably it was just inheriting whatever space was available & that caused the error.

[2020-04-01 11:15] stropho opened #48 "Feature Proposal: support components"
Hello, great library, useful for many common scenarios. After some time I have a need to extend the functionality in a way that we could use React components in `TruncateMarkup` .

**Common use case**: display a list of components, either created with react html markup or actual react (class/functional) components, and display only as many components as possibly - based on their size.
![image](htt

[2020-04-09 04:07] patrik-piskay commented on #48
@stropho I think this is a good idea! I'd definitely prefer the simplicity of providing a component like `TruncateMarkupAtom` 👍 there should be ways to easily and safely detect this component. checking `node.type === TruncateMarkupAtom` should work fine 🤞

[2020-04-14 09:29] stropho commented on #25
So I did some digging, unfortunately not found a clean solution, but at least I can share what I've found.

The `TruncateMarkup` component works in more or less those phases:
1. receive an external update, such as in `UNSAFE_componentWillReceiveProps` or from `resizeObserver`
2. start the truncation process by calling at least 1 `setState`. More `setState` + `componentDidUpdate` could be triggered

[2020-06-15 10:05] #48 closed

[2020-06-15 11:04] #29 closed

[2020-06-15 11:21] patrik-piskay commented on #25
Yes, I believe having the library consumers to set `key` to remount is the best option we have.

I don't think the "updating with new props" case is something we need to support, mainly because I'm not aware of use cases where updating with new props is necessary, except maybe when fetching the data from server. But that should be handled by conditional rendering (rendering RTM only once the data

[2020-07-06 10:56] collaboration-tools opened #52 "Warning when used in tab"
Great little component - thanks. Your home page does discuss conditional rendering, but any advice on using the component in a TabContainer? Every time a tab not containing the component is selected, the warning below is triggered:

console.warn('ReactTruncateMarkup: number of currently rendered lines: ' + computedLines + ', not truncating...\n  It may be caused by target element not being visible

[2020-08-17 22:37] abashir17 opened #56 "Fails to truncate when there is just one long string"
**Describe the bug**
Hello,

I've noticed a bug where it fails to truncate at all when the string is a single long word. Add whitespace at any point and everything is fine though.

<img width="1181" alt="Screen Shot 2020-08-17 at 6 14 20 PM" src="https://user-images.githubusercontent.com/11590841/90450614-28b86980-e0b8-11ea-9237-429bd357b298.png">
<img width="1184" alt="Screen Shot 2020-08-17 at 6

[2020-09-02 10:53] smirceamihai opened #57 "White page upon using the translate functionality in the browser."
Hei,

Upon using the translate functionality of the browser (Right click - Translate to..) then:
- Page is emptied of content
- Following exception is thrown: 'DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node'

BROWSER
Chrome

EXAMPLE
https://react-truncate-markup.patrik-piskay.now.sh/

[2020-09-23 06:34] edwinlimlx commented on #57
Having same issue. @smirceamihai did you manage to fix it?

[2020-09-23 12:31] jandom commented on #57
Same here

[2020-09-23 13:17] smirceamihai commented on #57
Hei @edwinlimlx,
The benefits that this component is offering us are far too low in order for us to start debugging the root cause.
We've implemented a (temporary) pure CSS solution (based on Bootstrap) which looks ok in all major browsers.

[2020-10-30 18:01] y-nk opened #63 "Stop throwing console warn/error as default."
Seriously, be civilized and make it optional.

[2020-11-25 10:54] saifbechan commented on #63
I agree on this. There is way too much logging in the console.

[2020-11-25 16:35] Ebram-Tharwat opened #64 "TypeScript - Property Atom does not exist on type TruncateMarkup"
When trying to use `TruncateMarkup.Atom` with TypeScript I get the following error message:
`Property 'Atom' does not exist on type 'typeof TruncateMarkup'`.

Looking at `index.d.ts`, I see it is **missing** the export/definition of `Atom` .. Could you please help me to overcome that issue?

[2020-11-25 17:05] Ebram-Tharwat commented on #64
I found a _hacky_ solution:
- Declare the `Atom` component as `const TruncateMarkupAtom = (TruncateMarkup as any).Atom;` _(notice casting to `any`)_
- Use it as a normal component
[code]

[2020-12-03 02:48] edwinlimlx opened #65 "Doesn't work with GoogleTranslate"
Hi,

Thanks for the amazing plugin!
However we have an issue when Chrome's Google Translate is being used.

Reproducible here https://clx8h.csb.app/ (Source: https://codesandbox.io/s/react-truncate-markup-google-translate-clx8h)

The root caused seems to be deriving from https://github.com/facebook/react/issues/11538#issuecomment-390386520 Not sure if there's a fix for this?

[2021-01-09 07:06] singleseeker commented on #65
Any update?

[2021-01-09 16:31] patrik-piskay commented on #56
Fixed in https://github.com/parsable/react-truncate-markup/releases/tag/5.1.0

[2021-01-09 16:31] #56 closed

[2021-01-09 16:31] patrik-piskay commented on #64
Fixed in [v5.1.0](https://github.com/parsable/react-truncate-markup/releases/tag/5.1.0)

[2021-01-09 16:31] #64 closed

[2021-01-09 16:31] patrik-piskay commented on #52
Fixed in [v5.1.0](https://github.com/parsable/react-truncate-markup/releases/tag/5.1.0)

[2021-01-09 16:31] #52 closed

[2021-01-09 16:32] patrik-piskay commented on #63
Fixed in [v5.1.0](https://github.com/parsable/react-truncate-markup/releases/tag/5.1.0)

[2021-01-09 16:32] #63 closed

[2021-01-09 18:25] patrik-piskay commented on #65
Unfortunately I am not able to do much here as it's a Google Translate issue. I tried out wrapping both the content and ellipsis in `span`s (as suggested as a possible workaround) and that worked in terms of actually rendering something in Google Translate, but I won't be adding that to the library as it adds unnecessary/potentially unwanted HTML tags into the page, potentially breaking styling.
B

[2021-01-09 18:25] #65 closed

[2021-01-09 18:26] patrik-piskay commented on #57
Unfortunately I am not able to do much here as it's a Google Translate issue. I tried out wrapping both the content and ellipsis in spans (as suggested as a possible workaround) and that worked in terms of actually rendering something in Google Translate, but I won't be adding that to the library as it adds unnecessary/potentially unwanted HTML tags into the page, potentially breaking styling.
But

[2021-01-09 18:26] #57 closed

[2021-01-11 16:39] abashir17 commented on #56
Awesome, thank you Patrik!

[2021-02-02 07:01] mfl512 opened #70 "Fails to truncate with multiple line if children list have too long string to over multi lines."
Hello
I've noticed a bug where it fails to truncate at all when the children have multi list child. and one of the string are too long.
There is the demo url:https://codesandbox.io/s/truncatemarkup-demo-forked-frksr

![image](https://user-images.githubusercontent.com/23716767/106563420-b274ca00-6566-11eb-9161-3ac00184db93.png)

![image](https://user-images.githubusercontent.com/23716767/106563436-

[2021-02-02 13:25] patrik-piskay commented on #70
Thanks for reporting @mfl512. I'll publish a fix in the next few days, but for now you should be able to get around the issue by adding `display: inline` to your span styles.

I'm not quite sure what was behind the original `display: inline-block` decision (that the library adds to the element that gets truncated, to combat the very same issue as the one being reported - the ellipsis being rendere

[2021-02-03 03:45] mfl512 commented on #70
Thank you so much @patrik-piskay !!!

[2021-02-08 16:16] LFTroya opened #71 "Module in Ionic show only one letter"
**Describe the bug**
I am trying to use this package in Ionic React but it only show the first letter of the paragraph

![image](https://user-images.githubusercontent.com/53018851/107247266-15e77780-69ff-11eb-8e3f-1ebef4d3d8e9.png)

**To Reproduce**
This is the repo to see the issue https://github.com/LFTroya/expenses

[2021-03-17 23:42] adam-olema opened #76 "Inconsistent lines behavior with bare text vs p vs span"
Truncation occurs differently depending on the markup around the string being truncated, often behaving as if it ignores `lines` completely.

Examples:

[code]
Lines = 1, lines = 2:

![image](https://user-images.githubusercontent.com/52808623/111551826-5218a100-873e-11eb-8927-81dffea503b8.png)

Lines = 3:

![image](https://user-images.githubusercontent.com/52808623/111551891-783e4100-873e-11eb-89b

[2021-03-20 17:06] patrik-piskay commented on #76
Hey @adam-olema, can you provide a repro case using codesandbox (or similar)? This seems like a case of some global styles affecting the computation of the lines. We use the [line-height](https://www.npmjs.com/package/line-height) library to calculate the line height, and this can we difficult when different elements within the component work with different line heights. using `p` can often cause

[2021-03-20 19:41] adam-olema commented on #76
I see.  There are indeed multiple styles going on that apply to the content here.  So are you saying that having multiple different line heights in the styles of the nodes to be truncated could be the problem?  Is it necessary that everything be at the same line height?

[2021-03-20 20:29] patrik-piskay commented on #76
for consistent and expected results, yes. As said in the previous comment, the line height is either provided as a prop or determined from styles. then the estimated number of lines in a rendered text is calculated as the height of the box the text renders in divided by the line height. if the initial line height number is wrong (because it varies across different elements), or when the box contai

[2021-05-18 09:59] nikeshmhr opened #88 "Issue when content is number."
**Describe the bug**
When the content to truncate is number an error occurs.

**To Reproduce**
[code]
Here's the code sandbox https://codesandbox.io/s/react-truncate-markup-issue-4xgwc?file=/src/App.js

![Screenshot from 2021-05-18 15-47-23](https://user-images.githubusercontent.com/7429948/118632748-72bdaf80-b7f0-11eb-86bd-f338313e7f0d.png)

[2021-05-18 10:06] patrik-piskay commented on #88
Thanks for reporting @nikeshmhr. We need to check for the number type [here](https://github.com/parsable/react-truncate-markup/blob/master/src/index.js#L59). Would you like to create a PR with the fix?

[2021-05-18 10:09] nikeshmhr commented on #88
Yeah, sure I'll create PR. Thanks @patrik-piskay

[2021-05-20 08:42] #88 closed

[2021-06-01 09:26] mundanelunacy commented on #25
IMHO, best solution would be to refactor to a functional component using useState and useEffect hooks

[2021-07-01 07:29] Karansidds opened #91 "Doesn't detect new line characters."
**Image**

![image](https://user-images.githubusercontent.com/39003188/124083441-7b4e0a80-da6b-11eb-88c1-c1f6342e2b61.png)

As you can see in the image, I want each sentence to go to the next line similar to the textbox, but it gets attached to the previous sentence and forms a paragraph. The truncation is working perfectly, but I want it to look something like this:

**My name is Karan
I am a dev

[2021-07-03 19:45] patrik-piskay commented on #91
Hey @Karansidds, can you post what `textProps` and `text` variables contain in your example? I'd like to see how the new lines are achieved here. Or, ideally, if you could create a repro app using codesandbox, that would be great too!

[2021-07-14 15:39] JohnGeorgiadis commented on #71
I have the same  issue with an ionic-react app. I am able to reproduce it only on web though.

[2021-07-27 12:11] JustJelena opened #92 "Suppressing console error logs"
Hi,
I wonder if there is a way to suppress console error logs if React components are passed as children? I am happy with the scenario where there is not truncating if content contains React components.
Thanks,
Jelena

[2021-07-27 13:11] patrik-piskay commented on #92
Hey Jelena, would using [Atoms](https://github.com/parsable/react-truncate-markup#truncatemarkupatom-) work for you, as suggested in the console error? By explicitly marking React components as TruncateMarkup Atoms, you won't get errors and truncation will work (which it won't at all with the error).

If TM atoms are not a feasible option for you, can you share your use case?

[2021-07-27 15:54] JustJelena commented on #92
Hi Patrick, thanks for the prompt response! Yes now that I properly tried it out, it does work - it wasn't the most intuitive thing so I haven't picked it up properly from the docs, but it makes perfect sense.
I was also thinking of rendering a 'dynamic' content that could be anything (e.g. a set of React components that the wrapper has no control of).
For now though, Atoms will do. Thanks!

[2021-07-28 13:09] JustJelena commented on #92
Hi Patrick, somewhat unrelated question (if you don't mind - happy to start another 'issue' if needed): if content is rendered with
<span dangerouslySetInnerHTML={{ __html: htmlContentToRender }} />
there is no truncating of the content passed in the html string, is this to be expected? Thanks.

[2021-07-28 13:42] patrik-piskay commented on #92
Yes, it's expected. RTM requires JSX tree as children to be functional, `dangerouslySetInnerHTML` bypasses that.

Related https://github.com/parsable/react-truncate-markup/issues/19 with a possible workaround using something like `react-html-parser`

[2021-07-28 16:17] JustJelena commented on #92
Thank you - I used htmr library as it's lighter and does the job.

[2021-07-28 16:17] #92 closed

[2021-12-22 03:50] Dearke opened #93 "Under the flex layout, reducing the width of the parent container results in incomplete truncated content"
**Describe the bug**
Under the flex layout, reducing the width of the parent container results in incomplete truncated content.

**To Reproduce**
https://codesandbox.io/s/ccti1?file=/index.js

**Reproduce Step**
1. Open the https://codesandbox.io/s/ccti1?file=/index.js
2. Use the mouse to reduce the width of the parent container.
3. Then use the mouse to restore the width of the parent container

[2021-12-22 05:38] Dearke commented on #93
![image](https://user-images.githubusercontent.com/45791353/147041301-c437538c-edd0-46e3-835d-38ce98ddb36a.png)

[2022-01-12 17:24] meisterz39 opened #94 "Flex layout and character tokenizing don't interact as expected without whitespace"
I'm using a button with a flex layout whose label is a comma delimited list of other labels. I've using the characters tokenize strategy, but the only way to get the word-wrap to correctly truncate the text is to include a whitespace between those labels. This seems to be due to the wordWrap: 'break-word' styling is applied regardless of tokenizing strategy (https://github.com/parsable/react-trunc

[2022-01-12 18:07] patrik-piskay commented on #94
Hi @meisterz39, to unblock you you can set your own styles on the parent element (span.labels in your case) to overwrite the library styles. If I were to edit your example to use
[code]
it works for flex containers again.

[2022-01-12 22:15] ramosbugs commented on #25
React [Strict Mode](https://reactjs.org/docs/strict-mode.html) complains about this now:
[code]

If I'm reading the docs right, it looks like the main consequence is that the future React concurrent rendering feature won't work with unsafe lifecycles.

[2022-01-19 05:22] nehrakln07 opened #95 "Not considering ellipsis width in calculation"
**Describe the bug**
I am using truncateMarkup.Atom and have custom ellipsis which takes some width, sometime ellipsis overflowed since there is no space for it.

[2022-03-18 12:07] bonesoul commented on #19
react-html-parser seems to be outdated, any alternatives?

[2022-03-21 10:00] bonesoul commented on #25
i'm also getting the same warning @ramosbugs , any solutions?

[2022-04-13 14:25] bonesoul opened #96 "react 18 issue: Type error: No overload matches this call."
Type error: No overload matches this call.
[code]

[2022-05-25 14:43] bonesoul opened #97 "UNSAFE_componentWillReceiveProps warning with react 18"
[code]

[2022-05-27 07:02] elishaterada commented on #25
Any plan to address UNSAFE_componentWillReceiveProps issue? If someone in the community converts the class component to functional, would PR be reviewed and accepted? Or are we better off forking and releasing it under the new npm name? I use this package often so I might take time to help with this.

[2022-05-27 07:12] patrik-piskay commented on #25
Absolutely, I've taken a stab at it a while back when the deprecation was
announced but the functional component for RTM didn't work out because of
how the cWRP is used here. I haven't managed to get back to it so if you'd
like to help out, any PR is appreciated!

On Fri, May 27, 2022, 07:03 Elisha Terada ***@***.***> wrote:

[2022-05-27 07:15] stropho commented on #25
I am not the maintainer but I've contributed to this repo a few times. IMHO if the new functional component works the same - accepting same props, displays the same result and does not introduce performance issues, I don't see why it shouldn't be merged.

[2022-06-22 13:37] bonesoul commented on #25
any changes we'll get a fix soon?

[2022-07-11 14:23] #96 closed

[2022-07-21 09:50] Zanaxhir opened #99 "Dosen't work with dangerouslySetInnerHTML"
Dosen't work with

[code]

https://codesandbox.io/s/truncatemarkup-demo-forked-r9lhtp?file=/index.js

[2022-07-21 10:26] patrik-piskay commented on #99
That's by design, but there is a [workaround](https://github.com/patrik-piskay/react-truncate-markup/issues/19#issuecomment-464221889) - transforming a html string into a React elements tree.

[2022-07-21 10:26] #99 closed, assigned to nobody

[2022-10-14 05:50] sundoufu commented on #94
@patrik-piskay why did you add inline style overflowWrap: break-word in the first place? it prevents child component from setting styles with stylesheets.

[2022-10-14 09:53] kimjson commented on #70
did you see any test regressions?

[2022-10-14 09:53] mfl512 commented on #70
你的邮件我收到了哦!